<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>0047AB Strike</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="../../static/js/source.js"></script>
</head>
<body>
  <!--HEADER-->
  <div class="navbar">
    <img src="../../static/images/logo.png" height="120" width="340">
    <div class="dropdown">
      <button class="dropbtn">Actions
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/refresh_conn">DB Refresh</a>
        <a href="/metrics">Metrics</a>
        <a href="/logout">Log Out</a>
      </div>
    </div>
  </div>

  <!--BODY-->
  <div id="not-header"> 
    <div id="container">
      {% for line in data %}
        <div class="card">
          <div class="ip">{{line.ip}}</div>
          <hr>
          <div class="status"><b>Status</b>: 
            {% if line.recent_status == "Active" %}
              <p style="color:greenyellow; display: inline;">Active</p>
            {% else %}
              <p style="color:rgb(149, 0, 0); display: inline;">Inactive</p>
            {% endif %}
          </div>
          <hr>
          <div class="os"><b>OS</b>: {{line.os}} {{line.version}}</div>
          <br>
          <div class="os"><b>Network Name</b>: {{line.node_name}}</div>
          <a href="/exec_conn/{{line.ip}}">
            <button type="submit" class="interact">Interact</button>
          </a>
            
        </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>