<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>0047AB Strike</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="../../static/js/source.js"></script>
</head>
<body>
  <!--HEADER-->
  <div class="navbar">
    <img src="../../static/images/logo.png" height="120" width="340">
    <div class="dropdown">
      <a href="/" class="dropbtn">Back</a>
    </div>
  </div>

  <!--BODY-->
  <div id="not-header"> 
    <div id="container">
      {% for line in data %}
        <div class="card">
          <div id="ip" class="ip">{{ line.ip }}</div>
          <hr>
          <div class="status"><b>Status</b>: 
            {% if line.recent_status == "Active" %}
              <p style="color:greenyellow; display: inline;">Active</p>
            {% else %}
              <p style="color:rgb(149, 0, 0); display: inline;">Inactive</p>
            {% endif %}
          </div>
          <hr>
          <div class="os"><b>OS</b>: {{ line.os }} {{ line.version }}</div>
          <br>
          <div class="os"><b>Network Name</b>: {{ line.node_name }}</div>
        </div>
        <form action="/exec_conn/{{line.ip}}"  onsubmit="submitCommand(event, '{{ line.ip }}')" method="post">
          {% csrf_token %}
          <div class="terminal-wrapper">
            <input class="terminal-input" type="text" name="command" placeholder="Enter Command">
            <input type="hidden" name="ip" value="{{ line.ip }}" autocomplete="">
            <button type="submit" hidden></button>  
          </div>
          <div class="response-container" id="response-{{ line.ip }}">{{response}}</div>
        </form>  
      {% endfor %}
    </div>
    <button onclick="gethistory()" type="button">Get Command History</button>
    <br>
  </div>

 
</body>
</html>
