<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="../../static/js/source.js"></script>
</head>
<body id="loginbody">
  <!--HEADER-->
  <div id="loginnavbar">
    <img src="../../static/images/logo.png" class="transparent-image"  height="120" width="340">
  </div>

    <!--BODY-->
    <div id="login_container">
        <div class="login_card">
          <form method="post">
              {% csrf_token %}
              <br><br><br><br><br>
              <input style="font-family: Courier New;"  class="input" type="text" name="username" placeholder="User Name"><br><br>
              <input style="font-family: Courier New;"  class="input" type="password" name="password" placeholder="Password"><hr>
              
              <button id="login_button" type="submit">Log In</button>
          </form>        
        </div>
    </div>
    
</body>
</html>